<h1>Welcome to my Coder Pal</h1>

<% if is_logged_in? %>
    Welcome, <%= current_user()['email'] %>!
    <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout"/>
    </form>
    <h2>Questions</h2>


    <section class="all-questions">
        <% all_answers.each do |answer| %>
        <section class="question-item">
    
            <section class="info">
                <h4><%= answer["body"] %></h4>
                
    
                <a href="/questions/<%= question['id'] %>/answers">Show</a>

                <% if question["user_id"] == session[:user_id] %>
                    <a href="/questions/<%= question['id'] %>/edit">Edit</a>
                <% end %>
            </section>
        
        </section>
        <% end %>
    </section>
    
    <br><a href="/questions/create">Ask a question</a>
<% else %>
    <div class="signup"><a href="/sign_up">Click here to Sign Up</a></div><br>
    <a href="/login">Login</a>
    <h2>Questions</h2>


    <section class="all-questions">
        <% all_questions.each do |question| %>
        <section class="question-item">
    
            <section class="info">
                <h2><%= question["title"] %> </h2>
                <h4><%= question["body"] %></h4>
    
                <a href="/questions/<%= question["id"] %>">Show</a>
            </section>
        
        </section>
        <% end %>
    </section>
<% end %>







