<body>
    <div class="heading">
        <h1>Coder Pal</h1>
    </div>

    <div class="sidebar">
        <nav>
            <div class="signup"><a href="/sign_up">Sign Up</a></div>
            <a href="/login">Login</a>
            <a href="/home">Home</a>
            <a href="/About-us">About Us</a>
            <a href="/Questions">Questions</a>
        </nav>
    </div>

    <div class="body-text">
        <% if is_logged_in? %>
            Welcome, <%= current_user()['email'] %>!
            <form action="/sessions" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Logout"/>
            </form>
            <h2>Questions</h2>


            <section class="all-questions">
                <% all_questions.each do |question| %>
                <section class="question-item">
    
                    <section class="info">
                        <h3><a href="/questions/<%= question["id"] %>"><%= question["title"] %></a></h3>
                        <h4><%= question["body"] %></h4>
    
                        <% if question["user_id"] == session[:user_id] %>
                            <a href="/questions/<%= question["id"] %>/edit">Edit</a>
                        <% end %>
                    </section>
        
                </section>
                <% end %>
            </section>
    
            <br><a href="/questions/create">Ask a question</a>
        <% else %>
            <h2>Questions</h2>
            <section class="all-questions">
                <% all_questions.each do |question| %>
                <section class="question-item">
    
                    <section class="info">
                        <h3><a href="/questions/<%= question["id"] %>"><%= question["title"] %></a></h3>
                        <h4><%= question["body"] %></h4>
    
            
                    </section>
                
                </section>
                <% end %>

            </section>
        <% end %>

    </div>
    
</body>








