<div class="sidebar">
    <nav>
        <% if is_logged_in? %>
        <h4>Welcome, <%= current_user()['name'] %>!</h4>
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout"/>
        </form>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    <% else %>
        <div class="signup"><a href="/sign_up">Sign Up</a></div>
        <a href="/login">Login</a>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    <% end %>  
    </nav>
</div>

<div class="question-show-text">
    <% if is_logged_in? %>
        <% if question["user_id"] == session[:user_id] %>
            <h2><%= question['title'] %></h2>
            <aside><%= question['votes'] %></aside>
            <div class="question-edit-delete">
                <section class="question-show-body">
                    <h3><%= question['body'] %></h3>
                </section>
                <section class="question-show-edit">
                    <a class="button" href="/questions/<%= question['id'] %>/edit">Edit</a>
                </section>
                <section class="question-show-delete">
                    <form action="/questions/<%= question['id'] %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="delete">
                    </form>
                </section>

            </div>


        <%else %>
            <h2><%= question['title'] %></h2>
            <h3><%= question['body'] %></h3>
            <aside><%= question['votes'] %></aside>
        <% end %>
        <hr>
        <div class="question-answer"> 
            <h2>Answers</h2>
            <a class="button" href="/questions/<%= question['id'] %>/answers/create">Add an answer</a>
        </div>
        <div class="all-answers">
            <% answers.each do |answer| %>
                <div class="answer-edit-delete">   
                    <h3><%= answer['body'] %></h3>
                    <% if answer["user_id"] == session[:user_id] %>
                        <a class="button" href="/questions/<%= question['id'] %>/answers/<%= answer['id'] %>/edit">Edit</a>
                        <form action="/questions/<%= question['id'] %>/answers/<%= answer['id'] %>" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="delete">
                        </form>
                    <% end %>
                </div>
            <% end %>
        </div>

    <%else %>
        <h2><%= question['title'] %></h2>
        <h3><%= question['body'] %></h3>
        <aside><%= question['votes'] %></aside>
        <hr>
    <% end %>
</div>
