<h1><%= question['title'] %></h1>
<h2><%= question['body'] %></h2>
<aside><%= question['votes'] %></aside>
<br />
<% if is_logged_in? %>
    <% if question["user_id"] == session[:user_id] %>
        <a href="/questions/<%= question["id"] %>/edit">Edit</a>
        <form action="/questions/<%= question["id"] %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
        </form>
    <% end %>
    <a href="/questions/<%= question['id'] %>/answers/create">Add an answer</a>
<% end %>